nav {
    background-color: #33ff55;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-link {
    color: #003366;
}

.nav-link:hover {
    border-bottom: 2px solid #003366;
    text-decoration: none;
    color: #003366;
}

.dropdown-menu {
    background-color: #c2fdcc;
}

.dropdown-item {
    color: #003366;
    font-size: 15px;
}

.dropdown-item:hover {
    background-color: #afffbc;
    text-align: none;
    color: #003366;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.carousel-inner .card {
    height: 500px;
    overflow: hidden;
}

.card-body h3 {
    color: #003366;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.card-body small {
    color: #003366;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
    color: #003366;
    padding-top: 40px;
    font-weight: bold;
    outline-style: none;
}

.btn:hover {
    border-bottom: 5px solid #33ff55;
    text-decoration: none;
    color: #003366;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.nav-tabs {
    margin-top: 100px;
    border: none;
    outline: none;
}

.nav-tabs .nav-link {
    border: none;
    outline: none;
}

.nav-tabs .nav-link:focus {
    color: #003366;
    border-left: 5px solid #33ff55;
}

.tab-content {
    margin-top: 100px;
    border-left: none;
}

.aboutIPL {
    color: #003366;
    font-weight: lighter;
    padding-top: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.awards .card {
    border: 6px solid #003366;
    margin-top: 20px;
    margin-right: 10px;
}

.awards .card-header {
    background-color: #c2fdcc;
    font-size: 20px;
    color: #003366;
    text-transform: uppercase;
}

.awards .card-title {
    color: #33ff55;
    font-size: 20px;
}

.awards .card-body {
    color: #003366;
    font-size: 15px;
}

.awards .card-footer {
    background-color: #c2fdcc;
    font-size: 20px;
    color: #003366;
    font-weight: lighter;
    text-transform: uppercase;
}


/* .carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #33ff55;
} */