nav {
    background-color: white;
    font-size: 15px;
    height: 100px;
    box-shadow: 5px 4px 4px 0px rgba(15, 8, 49, 0.2);
}

@media screen and (min-width: 1024px) {
    .navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 1023px) {
    .navbar-nav {
        display: none;
    }
    .navbar-toggler {
        display: block !important;
    }
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.sidebar {
    margin-top: 80px;
    margin-bottom: 80px;
    position: absolute;
    background-color: white;
    box-shadow: 5px 4px 4px 0px rgba(15, 8, 49, 0.2);
    height: 100%;
    width: 230px;
    overflow-y: scroll;
}

.icon {
    margin-right: 20px !important;
    color: #d3d3d4 !important;
    font-size: 20px;
}

.nav-link {
    color: #003366;
    margin-top: 40px;
    font-size: 16px;
}

.nav-link:hover {
    border-bottom: 2px solid #003366;
    text-decoration: none;
    color: #003366;
    margin-top: 40px;
    font-size: 16px;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.dropdown-menu {
    box-shadow: 10px 11px 46px 0px rgba(15, 8, 49, 0.2);
    border: none !important;
}

.dropdown-item {
    font-size: 16px;
    color: rgb(163, 162, 162);
    font-family: 'Arial narrow';
}

@media screen and (min-width:1024px) {}

.row {
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 150px;
    height: 500px;
}

h5 {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Arial Narrow';
    padding-top: 40px;
    padding-bottom: 10px;
}

i {
    font-size: 18px !important;
    color: #b7b7c3;
    margin-right: 10px !important;
    font-style: normal !important;
    margin-bottom: 20px !important;
}

@media screen and (min-width: 1024px) {
    .contact {
        padding-left: 60px;
        padding-top: 40px;
    }
}

.facebook {
    border: none;
    outline: none;
    background-color: #4267B2;
    color: white;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px;
}

.fa-facebook,
.fa-linkedin {
    color: white !important;
    margin-bottom: 0 !important;
}

.linkedin {
    border: none;
    outline: none;
    background-color: #0e76a8;
    color: white;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 20px;
}

.btn {
    background-color: #003366;
    color: white;
    font-family: 'Arial';
    padding: 15px;
    border-radius: 5px;
    margin-top: 40px;
    cursor: pointer;
    margin-right: 20px;
}

.btn:hover,
.btn:focus,
.btn:active {
    background-color: #f5f5f6;
    color: #003366;
    border: none;
    outline: none;
    box-shadow: none;
}

.submit {
    background-color: #83c5be;
    color: white;
    font-family: 'Arial';
    padding: 15px;
    border-radius: 5px;
    margin-top: 40px;
    cursor: pointer;
}

.submit:hover,
.submit:focus,
.submit:active {
    background-color: #f5f5f6;
    color: #83c5be;
    border: none;
    outline: none;
    box-shadow: none;
}

@media screen and (min-width: 992px) {
    .outer {
        text-align: center;
    }
}

@media screen and (max-width: 991px) {
    .outer {
        text-align: center;
        margin-top: 500px;
    }
}

.form-group {
    display: inline-block;
}

h2 {
    font-weight: bold;
    font-family: 'Arial Narrow';
    padding-top: 40px;
    padding-bottom: 10px;
}

#overlay-signUp {
    display: none;
}

.form-control {
    outline: none;
    box-shadow: none;
    border: none;
    background-color: #f5f5f6;
    height: 50px;
}

.form-control:hover,
.form-control:focus,
.form-control:active {
    outline: none;
    box-shadow: none;
    border: none;
    background-color: #f5f5f6;
    height: 50px;
}

::-webkit-input-placeholder {
    font-size: 15px;
}

.login {
    background-color: #003366;
    color: white;
    font-family: 'Arial';
    padding: 7px;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.login:hover,
.login:focus,
.login:active {
    background-color: #f5f5f6;
    color: #003366;
    border: 2px solid #003366;
    outline: none;
    box-shadow: none;
}

.click {
    color: #003366;
    font-size: 13px;
    background-color: white;
    border: none;
}

.click:hover {
    outline: none;
    box-shadow: none;
}

.click:focus {
    outline: none;
    box-shadow: none;
    background-color: white;
    color: #003366
}