nav {
    background-color: white;
    font-size: 15px;
    height: 100px;
    box-shadow: 5px 4px 4px 0px rgba(15, 8, 49, 0.2);
}

@media screen and (min-width: 1024px) {
    .navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 1023px) {
    .navbar-nav {
        display: none;
    }
    .navbar-toggler {
        display: block !important;
    }
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.sidebar {
    margin-top: 80px;
    margin-bottom: 80px;
    position: absolute;
    background-color: white;
    box-shadow: 5px 4px 4px 0px rgba(15, 8, 49, 0.2);
    height: 100%;
    width: 230px;
    overflow-y: scroll;
}

.icon {
    margin-right: 20px !important;
    color: #d3d3d4 !important;
    font-size: 20px;
}

.nav-link {
    color: #003366;
    margin-top: 40px;
    font-size: 16px;
}

.nav-link:hover {
    border-bottom: 2px solid #003366;
    text-decoration: none;
    color: #003366;
    margin-top: 40px;
    font-size: 16px;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.dropdown-menu {
    box-shadow: 10px 11px 46px 0px rgba(15, 8, 49, 0.2);
    border: none !important;
}

.dropdown-item {
    font-size: 16px;
    color: rgb(163, 162, 162);
    font-family: 'Arial narrow';
}

.picture {
    margin-top: 100px;
}

@media screen and (min-width:1024px) {
    .image {
        width: 100%;
        height: 550px;
        opacity: 0.7;
    }
}

@media screen and (max-width:1023px) {
    .image {
        width: 100%;
        height: 300px;
        opacity: 0.7;
    }
}

.patents,
.grants {
    margin-top: 40px;
}

h1 {
    text-align: center;
    font-family: 'Arial Narrow';
    color: #003366;
    font-weight: bold;
}

hr {
    width: 50px;
    border: 1px solid #f5f5f6;
}

.row {
    margin: 0 !important;
}

.outer-div {
    text-align: center;
}

@media screen and (min-width: 1228px) {
    .patent-card {
        display: inline-block;
        margin-top: 40px;
        border: none !important;
        box-shadow: 10px 11px 46px 0px rgba(15, 8, 49, 0.2);
        height: 300px;
    }
    .text {
        padding: 40px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1227px) {
    .patent-card {
        display: inline-block;
        margin-top: 40px;
        border: none !important;
        box-shadow: 10px 11px 46px 0px rgba(15, 8, 49, 0.2);
        height: 300px;
    }
    .text {
        padding: 5px;
    }
}

@media screen and (max-width: 992px) {
    .patent-card {
        display: inline-block;
        margin-top: 40px;
        border: none !important;
        box-shadow: 10px 11px 46px 0px rgba(15, 8, 49, 0.2);
    }
    .text {
        padding: 40px;
    }
}

h5 {
    text-align: center;
    font-family: 'Arial Narrow';
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

p {
    font-size: 15px;
    color: rgb(163, 162, 162);
}

.col-lg-6 {
    padding: 0 !important;
}

.grid {
    margin-top: 80px;
}

.cover {
    padding: 42px;
}

.vision {
    background-color: #003366;
}

.overview {
    background-color: #83c5be;
}

.intro {
    height: 400px;
}

.mission {
    background-color: #f5f5f6;
}

.vision h2,
.overview h2 {
    margin-top: 40px;
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: 'Pangolin', cursive;
    text-align: center;
}

.vision p,
.overview p {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    color: white;
    text-align: center;
    font-size: 16px;
    line-height: 150%;
}

.mission h2 {
    margin-top: 40px;
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: 'Pangolin', cursive;
    text-align: center;
    color: rgb(65, 64, 64);
}

.mission p {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    color: rgb(65, 64, 64);
    text-align: center;
    font-size: 16px;
    line-height: 150%;
}

.grants {
    background-color: #f5f5f6;
    margin-bottom: 50px;
}

.grants h1 {
    text-align: center;
    font-family: 'Arial Narrow';
    color: #003366;
    font-weight: bold;
    padding-top: 40px;
}

.grants .card {
    border: none;
    background-color: #f5f5f6;
}


/* .ss {
    height: 400px;
    overflow: auto;
    margin-top: 100px;
}

.home {
    margin-top: 100px;
    display: inline-block;
}

.mou {
    margin-top: 100px;
    height: 310px;
    overflow: auto;
}

.mou h3 {
    color: #003366;
    border-bottom: 5px solid #33ff55;
    text-transform: uppercase;
    text-align: center;
}

.home .card-header {
    text-align: center;
    color: #003366;
    background-color: #33ff55;
    text-transform: uppercase;
}

.card-link:hover {
    text-decoration: none;
    color: #003366;
}

.home .card-body {
    color: #003366;
    height: 30%;
}

.card-group {
    padding-top: 20px;
}

.card-group .card {
    background-color: rgb(233, 255, 231);
}

.grants {
    color: #003366;
    border-bottom: 5px solid #33ff55;
    width: 20%;
    text-transform: uppercase;
    padding-top: 50px;
}

.card-body h3 {
    color: #003366;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

li.bullets {
    list-style-image: url(images/notebook.png);
    color: #003366;
    font-size: 15px;
    font-weight: bold;
}

.point {
    color: #003366;
    padding-left: 5%;
} */